body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('pexels-pavlo-275744-1226402.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: 2px solid rgb(200, 200, 200);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: auto;
}
.box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.btn{
    width: auto; 
    margin: 0; 
}
label {
    margin-top: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: auto; 
    
}

button:hover {
    background-color: #218838;
}
a:hover {
    color: #00005e;
}